
body {
	background-color:#9FA2A6;
	padding: 40px;
	color:#22251F;
}
a {
	color:#9D5C82;
}
a:hover {
	color:#664559;
}
h3 {
	margin:0px;
}

#header {
	padding:0px 20px;
	display: inline-block;
	margin-bottom:10px;
}

#content {
	background-color: #F7F7F6;
	padding: 8px 20px;
	max-width:1000px;
}
.modal-content {
	color:#22251F;
	background-color: #F7F7F6;
}
.modal input {
	display:block;
	margin-left:10px;
	padding-left:5px;
}
/* HOME */
.recent_games_and_characters {
		
}
.intro_panel {
	display:inline-block;
	margin:10px;
	padding:20px;
	width:270px;
	vertical-align:top;
	color:black;
	height:170px;
	background-color:#E2E3E3;
}
.create_character_form_container {
	display:inline-block;
	margin-right:20px;
	vertical-align:top;
}
.create_character_form_question {
	margin-top:7px;
}
/* Input buttons */

#remove_player {
	display:inline;
}

.edit_game_form {
}

#footer {
}

.footer_account_details {
	display:inline-block;
}
.footer_create_links {
	padding:0px;
	display:inline-block;
	vertical-align: top;
	 

}
div.moused_over {
	opacity:.75; 
	cursor:pointer;
}

/* CHARACTER */
.home_container{
}

#character_nav {
	margin-left:-20px;
	margin-top:-8px;
}
.tab_container {
	padding-top:20px;
}
.generic_stats_container {
	padding:8px;
	background-color:#E2E3E3;
}
.character_description_detail {
	margin-left:12px;

}
.ability_container {
	font-size:0;
	display:inline-block;
}
.ability_housing {
	padding:10px;
	font-size:X-large;
/*	font-family:"Menlo", "Monaco", "Consolas", "Courier New", monospace;  */
	display:block;

	margin-bottom:4px;
}
.ability_operator {
	color:white;
}

.ability_mod {
	display:inline-block;
	background-color:white;
	padding:5px;
	font-weight:bold;
}
.ability_name {
	display:inline-block;
	color: white;
	padding:5px;
}
.ability_name_container {
	display:inline-block;

}
.ability_score {
	display:inline-block;
	color:white;
	padding:5px;

}

.ability_base {
	display:inline-block;
	color:white;
	padding:5px;

}

.ability_temp {
	display:inline-block;
	color:white;
	padding:5px;

}
.str_housing {
	background-color:#1892d7;
	color:#1892d7;
}
.dex_housing {
	background-color:#206c98;
	color:#206c98;
}
.con_housing {
	background-color:#19425a;
	color:#19425a;
}
.int_housing {
	background-color:#b33d72;
	color:#b33d72;
}
.wis_housing {
	background-color:#7d2a50;
	color:#7d2a50;
}
.cha_housing {
	background-color:#4d1e33;
	color:#4d1e33;
}
.base_classes_container {
	display:inline-block;
	vertical-align:top;
	margin-left:20px;
}
.base_class_container {
	margin-bottom:4px;
	font-weight:bold;
}

.character_description_main_container {
	display:inline-block;
	vertical-align:top;
	margin-left:20px;
}
.character_description_title {
	font-weight:bold;
}

.character_description_etc_container:not(:first-child) {
	margin-top:8px;
}
.character_description_etc_container {
}

/* COMBATSTATS */
.combat_mouseover {
	text-decoration:underline;
}
.other_combat_stats {
	font-size:0;
}
.other_combat_stats div{
}
.other_combat_stats h4 {
	margin:0 0 10px 0;
}

.combatstat_container {
	margin:0 2px 4px 2px;
}
.ac_container {
	background-color:#8A8780;
	display:block;
	color:white;
	font-size:small;
	padding:10px;
	height:270px;
	text-align:center;
}
.big_10 {
	font-size:large;
	margin:0 5px 0 5px;
}
.ac_total_container {
	display:inline-block;
}
.ac_total_container div {
	display:inline-block;
}
.ac_total_number {
	background-color:white;
	font-size:x-large;
	color:#8A8780;
	padding:5px;
	font-weight:bold;
}
.ac_container .ac_etc_container {
	display:inline-block;
	vertical-align:bottom;
}
.ac_container .ac_etc_container div {
	display:block;
	font-size:small;
}
.ac_container .ac_etc_container .ac_etc_number {
	text-align:center;
}
.other_ac_total_container {
	display:inline-block;
}
.ac_set_container h5 {
	margin-top:20px;
}
.other_ac_total_number {
	font-size:large;
	background-color:white;
	color:#8A8780;
	padding:5px;
	display:inline-block;
	font-weight:bold;
}
.combat_container_1 {
	width:360px;
	display:inline-block;
}
.combat_container_2 {
	display:inline-block;
	vertical-align:top;
}
.combat_container_3 {
	display:inline-block;
	vertical-align:top;

}
.health_container {
	background-color:#E47267;
	display:inline-block;
	color:white;
	font-size:medium;
	padding:10px;
	vertical-align:bottom;
	width:222px;
	height:200px;
	text-align:center;
}
.current_total_hp_container {
	text-align:left;
	display:inline-block;
}
.current_hp_container {
}
.current_hp_container div {
}
.current_hp_number {
	font-size:x-large;
	color:#E47267;
	background-color:white;
	padding:5px;
	font-weight:bold;
	margin-right:3px;
	display:inline-block;
}
.current_hp_name {
	font-size:small;
	display:inline-block;
}
.total_hp_container {
}
.total_hp_container div {
	display:inline-block;
}
.total_hp_number {
	font-size:x-large;
	padding:5px;
	font-weight:bold;
	border-top-style:solid;
	margin-top:8px;
	margin-right:3px;
}
.total_hp_name {
	font-size:small;
}
.nonlethal_damage_container {
	margin-top:6px;
	font-size:small;
	text-align:center;
}
.nonlethal_damage_number {
}

.initiative_container {
	background-color:#2C3B63;
	display:inline-block;
	color:white;
	font-size:medium;
	padding:10px;
	display:inline-block;
	vertical-align:bottom;
	width:130px;
	height:200px;
	text-align:center;
}
.initiative_total {
	font-size:x-large;
	font-weight:bold;
	padding:5px;
	background-color:white;
	color:#2C3B63;
	display:inline-block;
	vertical-align:middle;
}
.initiative_etc_container {
	display:inline-block;
	font-size:small;
	text-align:center;
}
.initiative_etc_container_container {
	display:block;
	margin-top:6px;
	vertical-align:bottom;
}
.saves_container{
	background-color:#FCCA55;
	display:inline-block;
	color:white;
	font-size:medium;
	padding:10px 0 0 0;
	vertical-align:bottom;
	text-align:center;
	width:280px;
	height:270px;
}
.saves_container h4 {
	margin-left:10px;
}
.save_container {
	padding:10px;
}
.save_container h5 {
	margin:0 0 5px 0px;
}
.save_total_container {
	font-size:large;
	background-color:white;
	padding:5px;
	font-weight:bold;
	display:inline-block;
}
.fortitude_total {
	color:#FF714B
}
.reflex_total {
	color:#C60052
}
.willpower_total {
	color:#540045
}
.fortitude_container {
	color:white;
}
.reflex_container {
	color:white;
}
.willpower_container {
	color:white;
}
.save_etc_container {
	display:inline-block;
	font-size:small;
	text-align:center;
	vertical-align:bottom;
}
.base_attack_container {
	background-color:#D6D1AF;
	display:inline-block;
	color:white;
	font-size:medium;
	padding:10px;
	vertical-align:bottom;
	width:280px;
	height:270px;
	text-align:center;
}
.attack_bonus_number {
	color: #D6D1AF;
	background-color:white;
	font-size:large;
	padding:5px;
	display:inline-block;
}
.attack_bonus_etc_number {
	
	color: #D6D1AF;
	background-color:white;
	font-size:medium;
	padding:5px;
	display:inline-block;
}
.speed_container {
	background-color:#B39980;
	color:white;
	font-size:medium;
	padding:10px;
	vertical-align:bottom;
	text-align:center;
	height:200px;
	width:280px;
}
.speed_base_container {
	display:inline-block;
}
.speed_etc_container{
	display:inline-block;
	margin:2px 10px 2px 10px;
}
.speed_number {
	color:#B39980;
	background-color:white;
	font-size:large;
	padding:5px;
	display:inline-block;
	font-weight:bold;
	margin:5px;
}
.speed_etc_number {
	color:#B39980;
	background-color:white;
	text-size:medium;
	padding:5px;
	display:inline-block;
	font-weight:bold;
	margin:5px;
}
.combat_maneuvers_container {
	background-color:#D9CC8C;
	color:white;
	width:280px;
	height:200px;
	font-size:small;
	padding:10px;
	vertical-align:bottom;
	text-align:center;
}
.combat_maneuver_bonus_total_container {
	display:inline-block;
	vertical-align:bottom;
}
.combat_maneuver_bonus_number {
	color:#D9CC8C;
	background-color:white;
	font-size:x-large;
	padding:5px;
	display:inline-block;
	font-weight:bold;
}
.combat_maneuver_bonus_etc_container{
	display:inline-block;
}
.combat_maneuver_defense_container {
	margin-top:10px;
}
.combat_maneuver_defense_total_container {
	display:inline-block;
}
.combat_maneuver_defense_etc_container {
	display:inline-block;
	vertical-align:bottom;
}
.combat_maneuver_defense_number {
	color:#D9CC8C;
	background-color:white;
	font-size:x-large;
	padding:5px;
	display:inline-block;
	font-weight:bold;
}

/* SKILLS */
.skills_header {
}

.skills_title {
	display:inline-block;
}

.ranks_total {
	display:inline-block;
	vertical-align:bottom;
	margin-bottom:8px;
}


.skill_housing {
	padding:0px;
	margin-top:1px;
	margin-right:1px;
	display:inline-block;
	background-color:#DAF3F8;
}
.skill_boxes_container {
	font-size:0;
}

.skill_housing_section {
	display:inline-block;
	height:100%;
	vertical-align:bottom;
}

.skill_clicked {
	background-color:#CCEBF1;
}

.skill_details {
	padding:10px;
	width:auto;
	display:block;
}

.skill_main{
	width:200px;
	height:60px;
/*	border-color:black;
	border:2px solid;   */
	height:100%;
	text-align:center;
	color:white;
}

.skill_name {
	font-size:large;
	display:inline-block;
}

.skill_category_wrapper {
	display:inline-block;
	text-align:center;
}

.skill_category {
	font-size:small;
	width:auto;
	margin:0 auto;
	display:inline-block;
}

.skill_total {
	font-size:x-large;
}

.skill_component_container {
	display:inline-block;
}	

.skill_component_number {
	text-align:center;
}

.skill_component_name {
	font-size:small;
}
.str_skill {
	background-color:#1892d7;
}
.dex_skill {
	background-color:#206c98;
}
.int_skill {
	background-color:#b33d72;
}
.wis_skill {
	background-color:#7d2a50;
}
.cha_skill {
	background-color:#4d1e33;
}
.skill_title_box {
	background-color:white;
	color:black;
	font-size:x-large;
	width:200px;
	height:60px;
	text-align:center;
	vertical-align:top;
}





.popover {
	width:auto;
	max-width:800px;
}
.modal_ability_container {
	padding:10px;
	color:#22251F;
	text-align:center;
}
.base_class_delete {
	float:left;
	color:#CE1836;
}
.multiskill_delete_button {
	float:left;
	color:#CE1836;
}
.modal_ability_container input {
	width:40px;
}
.modal_ability_details {
	display:inline-block;
	vertical-align:top;
	margin 0 3px;
	text-align:left;
}
.modal_ability_misc_container {
	display:inline-block;
}
.modal_ability_misc_etc {
	font-size:small;
}
.total_ability_score_modal {
	text-align:center;
}
.modal_str {
	background-color:#1892d7;
	color:white;
}
.modal_dex {
	background-color:#206c98;
	color:white;
}
.modal_con {
	background-color:#19425a;
	color:white;
}
.modal_int {
	background-color:#b33d72;
	color:white;
}
.modal_wis {
	background-color:#7d2a50;
	color:white;
}
.modal_cha {
	background-color:#4d1e33;
	color:white;
}

.modal_base_class_attack_bonus_container {
	display:inline-block;
	padding:10px;
}
#attack_bonus_modal {
	text-align:center;
}
#attack_bonus_modal input {
	width:40px;
}
.modal_total_base_attack_bonus {
	font-size:x-large;
	text-align:center;
	margin-bottom:15px;
}
#initiative_modal {
	text-align:center;
}
.modal_initiative_total {
	font-size:large;
}
#initiative_modal input {
	width:40px;
	display:inline-block;

}
.modal_speed_container input {
	width:40px;
}
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
