
<form class="edit_abilities_form">
{% csrf_token %}
	<div class="modal fade" id="edit_Str_modal" data-type="edit_abilities_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal_str">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Strength</h4>
				</div>
				<div class="modal-body">
					<div class="modal_ability_container">
						<h4>Modifier: {{ character.ability_str_mod }}</h4>
						<div class="modal_ability_details">
							Total Ability Score:
							<div class="total_ability_score_modal">
								{{ character.ability_str_score }}
							</div>

						</div>
						<div class="modal_ability_details">
							=
						</div> 
						<div class="modal_ability_details">
							Base score: {{ EditCharacter_Abilities_Form.ability_str_base }}
						</div> 
						<div class="modal_ability_details">
							+
						</div> 
						<div class="modal_ability_details"> 
							<div class="modal_ability_misc_container">
								Miscellaneous:
								<div class="total_ability_score_modal">
									{{ character.ability_str_misc_total }}
									<br />
									=
								</div>
							</div>
							<br />
							<div class="modal_ability_misc_etc">
								from equipment: {{ EditCharacter_Abilities_Form.ability_str_equip }}
								+ from spell effects: {{ EditCharacter_Abilities_Form.ability_str_spell }}
								+ from any other source: {{ EditCharacter_Abilities_Form.ability_str_misc }}
							</div>
						</div>
					
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" action="submit" class="btn btn-primary modal_form_save_button">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="edit_Dex_modal" data-type="edit_abilities_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal_dex">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Dexterity</h4>
				</div>
				<div class="modal-body">
					<div class="modal_ability_container">
						<h4>Modifier: {{ character.ability_dex_mod }}</h4>
						<div class="modal_ability_details">
							Total Ability Score:
							<div class="total_ability_score_modal">
								{{ character.ability_dex_score }}
							</div>

						</div>
						<div class="modal_ability_details">
							=
						</div> 
						<div class="modal_ability_details">
							Base score: {{ EditCharacter_Abilities_Form.ability_dex_base }}
						</div> 
						<div class="modal_ability_details">
							+
						</div> 
						<div class="modal_ability_details"> 
							<div class="modal_ability_misc_container">
								Miscellaneous:
								<div class="total_ability_score_modal">
									{{ character.ability_dex_misc_total }}
									<br />
									=
								</div>
							</div>
							<br />
							<div class="modal_ability_misc_etc">
								from equipment: {{ EditCharacter_Abilities_Form.ability_dex_equip }}
								+ from spell effects: {{ EditCharacter_Abilities_Form.ability_dex_spell }}
								+ from any other source: {{ EditCharacter_Abilities_Form.ability_dex_misc }}
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" action="submit" class="btn btn-primary modal_form_save_button">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="edit_Con_modal" data-type="edit_abilities_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal_con">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Constitution</h4>
				</div>
				<div class="modal-body">
					<div class="modal_ability_container">
						<h4>Modifier: {{ character.ability_con_mod }}</h4>
						<div class="modal_ability_details">
							Total Ability Score:
							<div class="total_ability_score_modal">
								{{ character.ability_con_score }}
							</div>

						</div>
						<div class="modal_ability_details">
							=
						</div> 
						<div class="modal_ability_details">
							Base score: {{ EditCharacter_Abilities_Form.ability_con_base }}
						</div> 
						<div class="modal_ability_details">
							+
						</div> 
						<div class="modal_ability_details"> 
							<div class="modal_ability_misc_container">
								Miscellaneous:
								<div class="total_ability_score_modal">
									{{ character.ability_con_misc_total }}
									<br />
									=
								</div>
							</div>
							<br />
							<div class="modal_ability_misc_etc">
								from equipment: {{ EditCharacter_Abilities_Form.ability_con_equip }}
								+ from spell effects: {{ EditCharacter_Abilities_Form.ability_con_spell }}
								+ from any other source: {{ EditCharacter_Abilities_Form.ability_con_misc }}
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" action="submit" class="btn btn-primary modal_form_save_button">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="edit_Int_modal" data-type="edit_abilities_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal_int">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Intelligence</h4>
				</div>
				<div class="modal-body">
					<div class="modal_ability_container">
						<h4>Modifier: {{ character.ability_int_mod }}</h4>
						<div class="modal_ability_details">
							Total Ability Score:
							<div class="total_ability_score_modal">
								{{ character.ability_int_score }}
							</div>

						</div>
						<div class="modal_ability_details">
							=
						</div> 
						<div class="modal_ability_details">
							Base score: {{ EditCharacter_Abilities_Form.ability_int_base }}
						</div> 
						<div class="modal_ability_details">
							+
						</div> 
						<div class="modal_ability_details"> 
							<div class="modal_ability_misc_container">
								Miscellaneous:
								<div class="total_ability_score_modal">
									{{ character.ability_int_misc_total }}
									<br />
									=
								</div>
							</div>
							<br />
							<div class="modal_ability_misc_etc">
								from equipment: {{ EditCharacter_Abilities_Form.ability_int_equip }}
								+ from spell effects: {{ EditCharacter_Abilities_Form.ability_int_spell }}
								+ from any other source: {{ EditCharacter_Abilities_Form.ability_int_misc }}
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" action="submit" class="btn btn-primary modal_form_save_button">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="edit_Wis_modal" data-type="edit_abilities_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal_wis">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Wisdom</h4>
				</div>
				<div class="modal-body">
					<div class="modal_ability_container">
						<h4>Modifier: {{ character.ability_wis_mod }}</h4>
						<div class="modal_ability_details">
							Total Ability Score:
							<div class="total_ability_score_modal">
								{{ character.ability_wis_score }}
							</div>

						</div>
						<div class="modal_ability_details">
							=
						</div> 
						<div class="modal_ability_details">
							Base score: {{ EditCharacter_Abilities_Form.ability_wis_base }}
						</div> 
						<div class="modal_ability_details">
							+
						</div> 
						<div class="modal_ability_details"> 
							<div class="modal_ability_misc_container">
								Miscellaneous:
								<div class="total_ability_score_modal">
									{{ character.ability_wis_misc_total }}
									<br />
									=
								</div>
							</div>
							<br />
							<div class="modal_ability_misc_etc">
								from equipment: {{ EditCharacter_Abilities_Form.ability_wis_equip }}
								+ from spell effects: {{ EditCharacter_Abilities_Form.ability_wis_spell }}
								+ from any other source: {{ EditCharacter_Abilities_Form.ability_wis_misc }}
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" action="submit" class="btn btn-primary modal_form_save_button">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="edit_Cha_modal" data-type="edit_abilities_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal_cha">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Charisma</h4>
				</div>
				<div class="modal-body">
					<div class="modal_ability_container">
						<h4>Modifier: {{ character.ability_cha_mod }}</h4>
						<div class="modal_ability_details">
							Total Ability Score:
							<div class="total_ability_score_modal">
								{{ character.ability_cha_score }}
							</div>

						</div>
						<div class="modal_ability_details">
							=
						</div> 
						<div class="modal_ability_details">
							Base score: {{ EditCharacter_Abilities_Form.ability_cha_base }}
						</div> 
						<div class="modal_ability_details">
							+
						</div> 
						<div class="modal_ability_details"> 
							<div class="modal_ability_misc_container">
								Miscellaneous:
								<div class="total_ability_score_modal">
									{{ character.ability_cha_misc_total }}
									<br />
									=
								</div>
							</div>
							<br />
							<div class="modal_ability_misc_etc">
								from equipment: {{ EditCharacter_Abilities_Form.ability_cha_equip }}
								+ from spell effects: {{ EditCharacter_Abilities_Form.ability_cha_spell }}
								+ from any other source: {{ EditCharacter_Abilities_Form.ability_cha_misc }}
							</div>
						</div>
					</div>
				</div>		
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" action="submit" class="btn btn-primary modal_form_save_button">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</form>



<div class="modal fade" id="edit_details_modal" data-type="edit_details_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Edit Character Details</h4>
			</div>
			<form class="edit_details_form">
				<div class="modal-body">
					{% csrf_token %}
					{{ EditCharacter_Details_Form.as_p }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" action="submit" class="btn btn-primary modal_form_save_button">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="add_base_class_modal" data-type="add_base_class_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Add Base Class</h4>
			</div>
			<form class="add_base_class_form">
				<div class="modal-body">
					{% csrf_token %}
					{{ add_base_class_form }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" action="submit" class="btn btn-primary modal_form_save_button">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% if base_classes %}
{% for base_class in base_classes %}
<div class="modal fade" id="class{{ base_class.class_number }}_modal" data-type="{{ base_class.class_name}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Edit Base Class {{ base_class.class_name }}</h4>
			</div>
			<form class="edit_base_class_form">
				<div class="modal-body">
					{% csrf_token %}
					{{ base_class.form.as_p }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default base_class_delete">Delete</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" action="submit" class="btn btn-primary modal_form_save_button">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}
