<div class="tab_container">
	<div class="ability_container">
		<h3>Abilities</h3>
		<div class="ability_housing str_housing">
			<div class="ability_mod">
				{{ character.ability_str_mod }}
			</div>
			<div class="ability_name_container">
				<div class="ability_name">
					<span>Str</span>
				</div>
			</div>
			<div class="ability_score">
				{{ character.ability_str_score }}
			</div>
			<span class="ability_operator">=</span>
			<div class="ability_base">
				{{ character.ability_str_base }}
			</div>
			<span class="ability_operator">+</span>
			<div class="ability_temp">
				{{ character.ability_str_misc_total }}
			</div>
		</div>
		<div class="ability_housing dex_housing">
			<div class="ability_mod">
				{{ character.ability_dex_mod }}
			</div>
			<div class="ability_name_container">
				<div class="ability_name">
					<span>Dex</span>
				</div>
			</div>
			<div class="ability_score">
				{{ character.ability_dex_score }}
			</div>
			<span class="ability_operator">=</span>
			<div class="ability_base">
				{{ character.ability_dex_base }}
			</div>
			<span class="ability_operator">+</span>
			<div class="ability_temp">
				{{ character.ability_dex_misc_total }}
			</div>
		</div>
		<div class="ability_housing con_housing">
			<div class="ability_mod">
				{{ character.ability_con_mod }}
			</div>
			<div class="ability_name_container">
				<div class="ability_name">
					<span>Con</span>
				</div>
			</div>
			<div class="ability_score">
				{{ character.ability_con_score }}
			</div>
			<span class="ability_operator">=</span>
			<div class="ability_base">
				{{ character.ability_con_base }}
			</div>
			<span class="ability_operator">+</span>
			<div class="ability_temp">
				{{ character.ability_con_misc_total }}
			</div>
		</div>
		<div class="ability_housing int_housing">
			<div class="ability_mod">
				{{ character.ability_int_mod }}
			</div>
			<div class="ability_name_container">
				<div class="ability_name">
					<span>Int</span>
				</div>
			</div>
			<div class="ability_score">
				{{ character.ability_int_score }}
			</div>
			<span class="ability_operator">=</span>
			<div class="ability_base">
				{{ character.ability_int_base }}
			</div>
			<span class="ability_operator">+</span>
			<div class="ability_temp">
				{{ character.ability_int_misc_total }}
			</div>
		</div>
		<div class="ability_housing wis_housing">
			<div class="ability_mod">
				{{ character.ability_wis_mod }}
			</div>
			<div class="ability_name_container">
				<div class="ability_name">
					<span>Wis</span>
				</div>
			</div>
			<div class="ability_score">
				{{ character.ability_wis_score }}
			</div>
			<span class="ability_operator">=</span>
			<div class="ability_base">
				{{ character.ability_wis_base }}
			</div>
			<span class="ability_operator">+</span>
			<div class="ability_temp">
				{{ character.ability_wis_misc_total }}
			</div>
		</div>
		<div class="ability_housing cha_housing">
			<div class="ability_mod">
				{{ character.ability_cha_mod }}
			</div>
			<div class="ability_name_container">
				<div class="ability_name">
					<span>Cha</span>
				</div>
			</div>
			<div class="ability_score">
				{{ character.ability_cha_score }}
			</div>
			<span class="ability_operator">=</span>
			<div class="ability_base">
				{{ character.ability_cha_base }}
			</div>
			<span class="ability_operator">+</span>
			<div class="ability_temp">
				{{ character.ability_cha_misc_total }}
			</div>
		</div>

	</div>
	<div class="base_classes_container">
		<h3>Classes</h3>
			{% if base_classes %}
			{% for base_class in base_classes %}
			<div class="base_class_container generic_stats_container" data-modal="class{{ base_class.class_number}}">
				{{ base_class.class_name }} - {{ base_class.class_levels }}
			</div>
			{% endfor %}
			{% elif user == character.play %}
			You have no base classes 
			<br />
			{% else %}
			{{ character.name }} has no classes
			{% endif %}
		{% if user == character.player %}
		<button class="open_add_base_class_modal">Add a Base Class</button>
		{% endif %}
	</div>
	<div class="character_description_main_container">
		<h3>Details</h3>
		<div class="generic_stats_container character_description_container"> 
			<div class="character_description_etc_container">
				<div class="character_description_title">Alignment: </div><span class="character_description_detail">{{ character.alignment }}
			</div>
			<div class="character_description_etc_container">
				<div class="character_description_title">Race: </div><span class="character_description_detail">{{ character.race }}
			</div>
			<div class="character_description_etc_container">
				<div class="character_description_title">Deity: </div><span class="character_description_detail">{{ character.deity }}
			</div>
			<div class="character_description_etc_container">
				<div class="character_description_title">Gender: </div><span class="character_description_detail">{{ character.gender }}
			</div>
			<div class="character_description_etc_container">
				<div class="character_description_title">Size: </div><span class="character_description_detail">{{ character.size }}
			</div>
			<div class="character_description_etc_container">
				<div class="character_description_title">Eyes: </div><span class="character_description_detail">{{ character.eyes }}
			</div>
			<div class="character_description_etc_container">
				<div class="character_description_title">Hair: </div><span class="character_description_detail">{{ character.hair }}
			</div>
			<div class="character_description_etc_container">
				<div class="character_description_title">Age: </div><span class="character_description_detail">{{ character.age }}
			</div>
			<div class="character_description_etc_container">
				<div class="character_description_title">Height: </div><span class="character_description_detail">{{ character.height }}
			</div>
			<div class="character_description_etc_container">
				<div class="character_description_title">Weight: </div><span class="character_description_detail">{{ character.weight }}
			</div>
			<div class="character_description_etc_container">
				<div class="character_description_title">Description: </div>
				<div class="character_description">
					{{ character.description }}
				</div>
			</div>
		</div>
	</div>
</div>
