<div class="skills_header">
	<div class="skills_title">
		<h3>Skills</h3>
	</div>
	<div class="ranks_total">
		<span>Total Skill Ranks: {{ character.total_ranks }} / {{ character.max_ranks }}</span>
	</div>
</div>
<div class="max_ranks_form_popover">
	<form class="edit_max_ranks_form">
		{{ EditMaxRanksForm }}
		<br />
		<button type="button" class="btn btn-default" data-dismiss="popover">Close</button>
		<button type="submit" class="btn btn-primary edit_max_ranks_button"  value="save" name="skills_tab">Save</button>
	</form>
		
</div>
	<div class="skill_housing armor_penalty">
		<div class="skill_housing_section">
		       <div class="skill_main">
				<div class="skill_name">
					<span>Acrobatics</span>
				</div>
				<div class="skill_total">
					{{ character.sk_acrobatics }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl_dex">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_dex_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Dexterity
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_acrobatics_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_acrobatics_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			-
			<div class="skill_component_container armor_penalty_container">
				<div class="skill_component_number">
					{{ character.armor_check_penalty }}
				</div>
				<div class="skill_component_name">
					Armor Penalty
				</div>
			</div>
			{% if character.sk_acrobatics_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing">
		<div class="skill_housing_section">
		       <div class="skill_main">
				<div class="skill_name">
					<span>Appraise</span>
				</div>
				<div class="skill_total">
					{{ character.sk_appraise }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_appraise_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_appraise_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_appraise_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing">
		<div class="skill_housing_section">
		       <div class="skill_main">
				<div class="skill_name">
					<span>Bluff</span>
				</div>
				<div class="skill_total">
					{{ character.sk_bluff }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_cha_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Charisma
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_bluff_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_bluff_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_bluff_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing">
		<div class="skill_housing_section armor_penalty">
		       <div class="skill_main">
				<div class="skill_name">
					<span>Climb</span>
				</div>
				<div class="skill_total">
					{{ character.sk_climb }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_str_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Strength
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_climb_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_climb_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			-
			<div class="skill_component_container armor_penalty_container">
				<div class="skill_component_number">
					{{ character.armor_check_penalty }}
				</div>
				<div class="skill_component_name">
					Armor Penalty
				</div>
			</div>
			{% if character.sk_climb_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	{% if craft_skills %}
	{% for value in craft_skills %}	
	<div class="skill_housing craft_or_profession_housing" id=craft{{value.skill_order}}>
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_category_wrapper">
					<div class="skill_category">
						<span>{{ value.sk_craft_or_profession }}</span>
					</div>
					<div class="skill_name">
						<span>({{ value.sk_domain }})</span>
					</div>
				</div>
				<div class="skill_total">
					{{ value.sk_total }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ value.sk_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ value.sk_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if value.sk_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="skill_housing">
		<div class="skill_housing_section">
		       <div class="skill_main">
				<div class="skill_name">
					<span>Diplomacy</span>
				</div>
				<div class="skill_total">
					{{ character.sk_diplomacy }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_cha_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Charisma
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_diplomacy_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_diplomacy_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_diplomacy_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill armor_penalty">
		<div class="skill_housing_section">
		       <div class="skill_main">
				<div class="skill_name">
					<span>Disable Device</span>
				</div>
				<div class="skill_total">
					{{ character.sk_disable_device }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_dex_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Dexterity
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_disable_device_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_disable_device_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			-
			<div class="skill_component_container armor_penalty_container">
				<div class="skill_component_number">
					{{ character.armor_check_penalty }}
				</div>
				<div class="skill_component_name">
					Armor Penalty
				</div>
			</div>
			{% if character.sk_disable_device_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing">
		<div class="skill_housing_section">
		       <div class="skill_main">
				<div class="skill_name">
					<span>Disguise</span>
				</div>
				<div class="skill_total">
					{{ character.sk_disguise }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_cha_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Charisma
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_disguise_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_disguise_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_disguise_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing armor_penalty">
		<div class="skill_housing_section">
		       <div class="skill_main">
				<div class="skill_name">
					<span>Escape Artist</span>
				</div>
				<div class="skill_total">
					{{ character.sk_escape_artist }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_dex_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Dexterity
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_escape_artist_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_escape_artist_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			-
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.armor_check_penalty }}
				</div>
				<div class="skill_component_name armor_penalty_container">
					Armor Penalty
				</div>
			</div>
			{% if character.sk_escape_artist_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing armor_penalty">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Fly</span>
				</div>
				<div class="skill_total">
					{{ character.sk_fly }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_dex_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Dexterity
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_fly_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_fly_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			-
			<div class="skill_component_container armor_penalty_container">
				<div class="skill_component_number">
					{{ character.armor_check_penalty }}
				</div>
				<div class="skill_component_name">
					Armor Penalty
				</div>
			</div>
			{% if character.sk_fly_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Handle Animal</span>
				</div>
				<div class="skill_total">
					{{ character.sk_handle_animal }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_cha_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Charisma
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_handle_animal_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_handle_animal_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_handle_animal_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Heal</span>
				</div>
				<div class="skill_total">
					{{ character.sk_heal }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_wis_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Wisdom
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_heal_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_heal_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_heal_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Intimidate</span>
				</div>
				<div class="skill_total">
					{{ character.sk_intimidate }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_cha_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Charisma
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_intimidate_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_intimidate_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_intimidate_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_category_wrapper">
					<div class="skill_category">
						<span>Knowledge</span>
					</div>
					<div class="skill_name">
						(<span>Arcana</span>)
					</div>
				</div>
				<div class="skill_total">
					{{ character.sk_knowledge_arcana }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_knowledge_arcana_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_knowledge_arcana_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_knowledge_arcana_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_category_wrapper">
					<div class="skill_category">
						<span>Knowl.</span>
					</div>
					<div class="skill_name">
						(<span>Dungeoneering</span>)
					</div>
				</div>
				<div class="skill_total">
					{{ character.sk_knowledge_dungeoneering }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_knowledge_dungeoneering_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_knowledge_dungeoneering_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_knowledge_dungeoneering_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_category_wrapper">
					<div class="skill_category">
						<span>Knowledge</span>
					</div>
					<div class="skill_name">
						(<span>Engineering</span>)
					</div>
				</div>
				<div class="skill_total">
					{{ character.sk_knowledge_engineering }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_knowledge_engineering_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_knowledge_engineering_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_knowledge_engineering_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_category_wrapper">
					<div class="skill_category">
						<span>Knowledge</span>
					</div>
					<div class="skill_name">
						(<span>Geography</span>)
					</div>
				</div>
				<div class="skill_total">
					{{ character.sk_knowledge_geography }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_knowledge_geography_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_knowledge_geography_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_knowledge_geography_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_category_wrapper">
					<div class="skill_category">
						<span>Knowledge</span>
					</div>
					<div class="skill_name">
						(<span>History</span>)
					</div>
				</div>
				<div class="skill_total">
					{{ character.sk_knowledge_history }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_knowledge_history_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_knowledge_history_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_knowledge_history_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_category_wrapper">
					<div class="skill_category">
						<span>Knowledge</span>
					</div>
					<div class="skill_name">
						(<span>Local</span>)
					</div>
				</div>
				<div class="skill_total">
					{{ character.sk_knowledge_local }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_knowledge_local_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_knowledge_local_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_knowledge_local_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_category_wrapper">
					<div class="skill_category">
						<span>Knowledge</span>
					</div>
					<div class="skill_name">
						(<span>Nature</span>)
					</div>
				</div>
				<div class="skill_total">
					{{ character.sk_knowledge_nature }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_knowledge_nature_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_knowledge_nature_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_knowledge_nature_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_category_wrapper">
					<div class="skill_category">
						<span>Knowledge</span>
					</div>
					<div class="skill_name">
						(<span>Nobility</span>)
					</div>
				</div>
				<div class="skill_total">
					{{ character.sk_knowledge_nobility }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_knowledge_nobility_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_knowledge_nobility_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_knowledge_nobility_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_category_wrapper">
					<div class="skill_category">
						<span>Knowledge</span>
					</div>
					<div class="skill_name">
						(<span>Planes</span>)
					</div>
				</div>
				<div class="skill_total">
					{{ character.sk_knowledge_planes }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_knowledge_planes_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_knowledge_planes_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_knowledge_planes_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_category_wrapper">
					<div class="skill_category">
						<span>Knowledge</span>
					</div>
					<div class="skill_name">
						(<span>Religion</span>)
					</div>
				</div>
				<div class="skill_total">
					{{ character.sk_knowledge_religion }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_knowledge_religion_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_knowledge_religion_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_knowledge_religion_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Linguistics</span>
				</div>
				<div class="skill_total">
					{{ character.sk_linguistics }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_linguistics_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_linguistics_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_linguistics_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Perception</span>
				</div>
				<div class="skill_total">
					{{ character.sk_perception }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_wis_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Perception
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_perception_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_perception_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_perception_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Perform</span>
				</div>
				<div class="skill_total">
					{{ character.sk_perform }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_cha_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Charisma
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_perform_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_perform_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_perform_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	{% if profession_skills %}
	{% for value in profession_skills %}	
	<div class="skill_housing craft_or_profession_housing trained_skill" id=profession{{value.skill_order}}>
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_category_wrapper">
					<div class="skill_category">
						<span>Profession</span>
					</div>
					<div class="skill_name">
						<span>({{value.sk_domain}})</span>
					</div>
				</div>
				<div class="skill_total">
					{{ value.sk_total }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ value.sk_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ value.sk_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if value.sk_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="skill_housing armor_penalty">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Ride</span>
				</div>
				<div class="skill_total">
					{{ character.sk_ride }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_dex_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Dexterity
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_ride_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_ride_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			-
			<div class="skill_component_container armor_penalty_container">
				<div class="skill_component_number">
					{{ character.armor_check_penalty }}
				</div>
				<div class="skill_component_name">
					Armor Penalty
				</div>
			</div>
			{% if character.sk_ride_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Sense Motive</span>
				</div>
				<div class="skill_total">
					{{ character.sk_sense_motive }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_wis_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Wisdom
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_sense_motive_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_sense_motive_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_sense_motive_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill armor_penalty">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Sleight of Hand</span>
				</div>
				<div class="skill_total">
					{{ character.sk_sleight_of_hand }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_dex_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Dexterity
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_sleight_of_hand_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_sleight_of_hand_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			-
			<div class="skill_component_container armor_penalty_container">
				<div class="skill_component_number">
					{{ character.armor_check_penalty }}
				</div>
				<div class="skill_component_name">
					Armor Penalty
				</div>
			</div>
			{% if character.sk_sleight_of_hand_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Spellcraft</span>
				</div>
				<div class="skill_total">
					{{ character.sk_spellcraft }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_int_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Intelligence
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_spellcraft_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_spellcraft_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_spellcraft_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing armor_penalty">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Stealth</span>
				</div>
				<div class="skill_total">
					{{ character.sk_stealth }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_dex_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Dexterity
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_stealth_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_stealth_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			-
			<div class="skill_component_container armor_penalty_container">
				<div class="skill_component_number">
					{{ character.armor_check_penalty }}
				</div>
				<div class="skill_component_name">
					Armor Penalty
				</div>
			</div>
			{% if character.sk_stealth_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Survival</span>
				</div>
				<div class="skill_total">
					{{ character.sk_survival }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_wis_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Wisdom
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_survival_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_survival_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_survival_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing armor_penalty">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Swim</span>
				</div>
				<div class="skill_total">
					{{ character.sk_swim }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_str_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Strength
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_swim_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_swim_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			-
			<div class="skill_component_container armor_penalty_container">
				<div class="skill_component_number">
					{{ character.armor_check_penalty }}
				</div>
				<div class="skill_component_name">
					Armor Penalty
				</div>
			</div>
			{% if character.sk_swim_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<div class="skill_housing trained_skill">
		<div class="skill_housing_section">
			<div class="skill_main">
				<div class="skill_name">
					<span>Use Magical Device</span>
				</div>
				<div class="skill_total">
					{{ character.sk_use_magical_device }}
				</div>
			</div>
		</div>
		<div class="skill_housing_section skill_details">
			<div class="skill_component_container skill_abl">
				<div class="skill_component_number skill_abl_mod">
					{{ character.ability_cha_mod }}
				</div>
				<div class="skill_component_name skill_abl_name">
					Charisma
				</div>
			</div>
			+
			<div class="skill_component_container skill_ranks">
				<div class="skill_component_number">
					{{ character.sk_use_magical_device_ranks }}
				</div>
				<div class="skill_component_name">
					Ranks
				</div>
			</div>
			+
			<div class="skill_component_container">
				<div class="skill_component_number">
					{{ character.sk_use_magical_device_misc }}
				</div>
				<div class="skill_component_name">
					Misc
				</div>
			</div>
			{% if character.sk_use_magical_device_class %}
			<span class="class_skill"></span>
			{% endif %}
		</div>
	</div>
	<br />
	<br />
	<div class="add_craft_or_profession">
		<button class="btn btn-default add_craft_or_profession_button">Add Craft or Profession Skill</button>
	</div>
