<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title_block %} Pathfinder {% endblock %} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/media/css/main.css">
	
	<script src="/media/js/vendor/modernizr-2.6.2.min.js"></script>
	<!-- jquery: -->
	<script type="text/javascript" src="/media/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/media/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/media/jquery.pjax.js"></script>
	<script type="text/javascript" src="/media/custom_jquery.js"></script>
	{% block additional_scripts %}

	{% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div id="main">
	<div id="header">
      		{% block header_block %}

		{% endblock %}
	</div>
	<div id="content">
		{% block body_block %}
		{% endblock %}
	</div>
	<br /> <br />
	<div id="footer">
		<div class="footer_account_details">
			{% if user.is_authenticated %}
				<a href='/logout/'>Logout</a>
			{% else %}
				<a href='/login/'>Login</a> or <a href='/register/'>Register</a>
			{% endif %}
			 | <a href="/">Home</a>
			<br />
			{% if user.is_authenticated %}
				You are currently logged in as <a href="/player/{{ user.username}}/">{{ user.username }}</a>
			{% else %}
				You are not logged in
			{% endif %}
	
		</div>
		{% if user.is_authenticated %}
		<span class="footer_create_links">
			<p>Create: <a href="/create_game/">Game</a> | <a href="/create_character/">Character</a></p>
		</span>
		{% endif %}
		{% if general_games or general_characters %}
		<div class="general_activity_feed">
			<div class="general_game_feed">
			</div>
			<div class="general_character_feed">
			</div>
		</div>
		{% endif %}	
	</div>
</div>
        <script src="/media/js/plugins.js"></script>
        <script src="/media/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>  -->
    </body>
</html>
