{% extends 'base.html' %}

{% block additional_scripts %}
<script> 
</script>
{% endblock %}
{% block header_block %}
	<h2> {{ character.name }} the {{ character.base_class_1 }} (level: {{ character.level }}) </h2>
{% endblock %}
{% block body_block %}
	<ul class="nav nav-tabs" id="character_nav">
		<li><a href="#character_ability_block" data-toggle="tab">Abilities</a></li>
		<li><a href="#character_combatstats" data-toggle="tab">Combat</a></li>
		<li><a href="#character_skills" data-toggle="tab">Skills</a></li>
	</ul>
	{% block character_stats %}
	<div class="tab-content" id="character_stats">
		<div class="tab-pane fade in active" id="character_home">
			<h3> Home </h3>
			Alignment: {{ character.alignment }}<br />
			Race: {{ character.race }}<br />
			Class: {{ character.base_class_1 }}<br />
		</div>
		<div class="tab-pane fade" id="character_ability_block">
			<h3> abilities </h3>
			str: {{ character.ability_str }} <br />
			dex: {{ character.ability_dex }} <br />
			con: {{ character.ability_con }} <br />
			wis: {{ character.ability_wis }} <br />
			int: {{ character.ability_int }} <br />
			cha: {{ character.ability_cha }} <br />
		</div>		
		<div class="tab-pane fade" id="character_combatstats">
			<h3> Combat Stats </h3>
			Initiative: {{ character.initiative }} <br />
			Base Attack: {{ character.base_attack_bonus }} <br />
			AC: {{ character.ac }} <br />
			Hit Points: {{ character.hp }} | Current Health: {{ character.current_hp }} <br />
			CMB: {{ character.cmb }}<br />
		</div>
		<div class="tab-pane fade" id="character_skills">
			{% include "_skills.html" %}
		</div>
	</div>
	{% endblock %}
	<div class="character_footer">
		{% if character.player == user %}
			<p> {{ character.name }} is a character you control. <a href="/what_to_create/character/{{character.slug}}">Add</a> an item to {{ character.name}} </p>
		{% else %}
			<p> {{ character.name }} is controlled by <a href="/player/{{ character.player }}/">{{ character.player }}</a> </p>
		{% endif %}
		{% if character.current_game %}
			<p> Currently in game <a href="/game/{{ character.current_game.slug }}/">{{ character.current_game.name }}</a></p>
		{% else %}
			<p> Not currently on an adventure </p>
		{% endif %}
	</div>
{% endblock %}
