	
<div class="tab-content" id="character_stats">

	<div class="tab-pane fade in active" id="character_home">
                This is where alignment and shit goes
        </div>
        <div class="tab-pane fade" id="character_ability_block">
                <form class='edit_character_form' method='POST' enctype='multipart/form-data'>
                        {% csrf_token %}
                        ({{character.ability_str_mod}}) - <strong>Strength:</strong> ({{character.ability_str_score}})  {{ EditCharacter_Abilities_Form.ability_str_base }}<br />
                        ({{character.ability_dex_mod}}) - <strong>Dexterity:</strong> ({{character.ability_dex_score}})  {{ EditCharacter_Abilities_Form.ability_dex_base }}<br />
                        ({{character.ability_con_mod}}) - <strong>Constitution:</strong> ({{character.ability_con_score}})  {{ EditCharacter_Abilities_Form.ability_con_base }}<br />
                        ({{character.ability_int_mod}}) - <strong>Intelligence:</strong> ({{character.ability_int_score}})  {{ EditCharacter_Abilities_Form.ability_int_base }}<br />
                        ({{character.ability_wis_mod}}) - <strong>Wisdom:</strong> ({{character.ability_wis_score}})  {{ EditCharacter_Abilities_Form.ability_wis_base }}<br />
                        ({{character.ability_cha_mod}}) - <strong>Charisma:</strong> ({{character.ability_cha_score}})  {{ EditCharacter_Abilities_Form.ability_cha_base }}<br />
                        <br />
			<button class="form_save" type='submit' name='ability_tab'>Save</button>
                </form>
	</div>
	<div class="tab-pane fade" id="character_combatstats">
                <form class='edit_character_form' method='POST' enctype='multipart/form-data'>
                        {% csrf_token %}
                        Initiative: {{ character.initiative }} | Dex Mod + Misc Initiative = {{ EditCharacter_Combatstats_Form.initiative_misc }} <br />
                        Base Attack: {{ character.bab }} | {{ EditCharacter_Combatstats_Form.bab }} <br />
                        AC: {{ character.ac }} | Natural AC = {{EditCharacter_Combatstats_Form.ac_natural}} + Misc Ac = {{EditCharacter_Combatstats_Form.ac_misc }} <br />
                        Hit Points: {{ character.hp }} | Current Health: {{ EditCharacter_Combatstats_Form.current_hp }} <br />
                        CMB: {{ character.cmb }}<br />
                        Armor Check Penalty: {{ character.armor_check_penalty }} - {{ EditCharacter_Combatstats_Form.armor_check_penalty }} <br />

			<button class="form_save" type='submit' name='combatstats_tab'>Save</button>
                </form>
        </div>
	<div class="tab-pane fade" id="character_skills">
		{% include "_skills.html" %}
		{% include "_skill_forms.html" %}
	</div>
</div>                                           

