	
<div class="tab-content" id="character_stats">

        <div class="tab-pane fade" id="character_ability_block">
		{% include '_abilities.html' %}
	</div>
	<div class="tab-pane fade" id="character_combatstats">
		{% include '_combatstats.html' %}	
        </div>
	<div class="tab-pane fade" id="character_skills">
		{% include "_skills.html" %}
	</div>
		{% include '_abilities_forms.html' %}
		{% include '_combatstats_forms.html' %}
		{% include "_skill_forms.html" %}
</div>                                           

