{% extends 'base.html' %}

{% block header_block %} 
<h2> Welcome to Some Site Involving Pathfinder I Guess </h2>
{% endblock %}

{% block body_block %}
{% if not user.is_authenticated %}
<p> This project was created for me to learn Django and because I want to create a tool to help my Pathfinder campaign. And also because all of the online character sheets I've found are retarded and I think I can do better </p>
{% else %}
	{% if general_games %}
		<h4>Recently updated games:</h4>
                <ul>
                	{% for game in general_games %}
                                        <li><a href="/game/{{ game.slug }}/">{{ game.name }}</a></li>
                        {% endfor %}
                </ul>
	{% endif %}
	{% if general_characters %}
		<h4> Characters created recently:</h4>
                <ul>
                	{% for character in general_characters %}
                                        <li><a href="/character/{{ character.slug }}/">{{ character.name }}</a></li>
                        {% endfor %}
                </ul>
	{% endif %}



{% endif %}
{% endblock %}

